* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$colorbg: #ff4343;
$colorTitle: #2d3033;
$colorText: #6c7279;
$colorActive: #e71414;
$fontCardo: "Cardo", serif;

@mixin font($fontSize, $lineHeight, $fontWeight: 400) {
  font-size: $fontSize;
  line-height: $lineHeight;
  font-weight: $fontWeight;
}
body {
  font-family: "Raleway", sans-serif;
  //   font-family: "Cardo", serif;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  padding: 38px 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  border-bottom: 1px solid #babbc5;
  @media (max-width: 1024px) {
    padding: 38px 20px;
  }
  @media (max-width: 767px) {
    padding: 19px 0;
    border: none;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 767px) {
      padding: 0 20px;
    }
  }

  &__toggle-menu {
    display: none;
    @media (max-width: 767px) {
      display: flex;
      background: transparent;
      border: none;
    }
  }

  &__wrapper-logo {
    display: flex;
    max-width: 183px;
    @media (max-width: 1024px) {
      max-width: 180px;
    }
    @media (max-width: 767px) {
      max-width: 103px;
    }
  }
  &__logo {
    width: 100%;
  }
}
.nav {
  display: flex;
  column-gap: 40px;
  @media (max-width: 767px) {
    display: none;
  }
  @media (max-width: 1024px) {
    column-gap: 25px;
  }
  .nav__link {
    list-style: none;
    @include font(12px, 14px, 700);
    color: #fff;
    text-transform: uppercase;
  }
  .nav__link:hover {
    color: BABBC5;
    transition: all 0.3s 0s;
  }
  .nav__link:active {
    color: $colorActive;
  }
  // &__list {
  //   display: flex;
  //   list-style: none;
  //   column-gap: 40px;
  //
  // }
  // &__link {
  //   @include font(12px, 14px, 700);
  //   color: #fff;
  //   text-transform: uppercase;
  // }
}

.banner {
  padding: 257px 0 126px;
  text-align: center;
  background-image: url(../src/bg-img.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  @media (max-width: 767px) {
    padding: 106px 0 52px;
  }
  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #252b49;
    opacity: 0.8;
  }

  &__container {
    position: relative;
    z-index: 1;
  }

  &__title {
    @include font(64px, 75px, 900);
    margin-bottom: 31px;
    color: #fff;
    text-transform: uppercase;
    @media (max-width: 1024px) {
      @include font(48px, 56px, 900);
      margin-bottom: 61px;
    }
    @media (max-width: 767px) {
      @include font(36px, 42px, 900);
      margin-bottom: 40px;
    }
  }

  &__text {
    @include font(24px, 28px);
    margin-bottom: 79px;
    color: #fff;
    @media (max-width: 1024px) {
      @include font(18px, 21px);
      margin-bottom: 89px;
    }
    @media (max-width: 767px) {
      @include font(14px, 16px);
      margin-bottom: 59px;
    }
  }

  &__btn {
    padding: 25px 28px;
    max-width: 370px;
    width: 100%;
    background-color: $colorbg;
    color: #fff;
    text-transform: uppercase;
    border: none;
    @include font(24px, 28px, 900);
    @media (max-width: 1024px) {
      max-width: 314px;
    }
    @media (max-width: 767px) {
      padding: 14px;
      max-width: 279px;
    }
  }

  &__btn:hover {
    background-color: #e71414;
    transition: all 0.3s 0s;
  }
  &__btn:active {
    box-shadow: 4px 4px 30px #ff4343;
  }
}

.features {
  padding: 109px 0 116px;
  @media (max-width: 1024px) {
    .features {
      padding: 79px;
    }
  }
  @media (max-width: 767px) {
    .features {
      padding: 40px 0 35px;
    }
  }

  .features__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 31px;
    row-gap: 87px;
    text-align: center;
    @media (max-width: 1024px) {
      column-gap: 20px;
      row-gap: 53px;
    }
    @media (max-width: 767px) {
      grid-template-columns: 1fr;
      row-gap: 41px;
    }
  }
}
.feature__info {
  @media (max-width: 1024px) {
    .feature__info {
      max-width: 315px;
      width: 100%;
    }
  }
  @media (max-width: 767px) {
    max-width: 279px;
    width: 100%;
  }

  .feature__icon {
    width: 100px;
    height: 100px;
    margin-bottom: 52px;
    @media (max-width: 1024px) {
      width: 85px;
      height: 83px;
      margin-bottom: 44px;
    }
    @media (max-width: 767px) {
      width: 75px;
      height: 75px;
      margin-bottom: 37px;
    }
  }
  .feature__title {
    @include font(24px, 28px, 900);
    color: $colorTitle;
    margin-bottom: 42px;
    text-transform: uppercase;
    @media (max-width: 1024px) {
      @include font(18px, 21px, 900);
      margin-bottom: 27px;
    }
    @media (max-width: 767px) {
      @include font(18px, 21px, 900);
      margin-bottom: 8px;
    }
  }
  .feature__text {
    @include font(18px, 21px, 400);
    color: $colorText;
    @media (max-width: 1024px) {
      @include font(14px, 14px, 400);
    }
    @media (max-width: 767px) {
      @include font(14px, 16px, 400);
    }
  }
}

.works {
  &__container {
    max-width: 1510px;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2px;
    @media (max-width: 1024px) {
      max-width: 1024px;
    }
    @media (max-width: 767px) {
      max-width: 767px;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
.work {
  aspect-ratio: 1/1;
  overflow: hidden;
  position: relative;

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    @media (max-width: 1024px) {
      aspect-ratio: 257/230;
    }
    @media (max-width: 767px) {
      width: 160px;
      height: 144px;
      width: 100%;
      height: 100%;
    }
  }
  &__content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 67, 67, 0.8);
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
  }
  &__title {
    @include font(24px, 28px, 900);
    color: #fff;
    margin-bottom: 36px;
    text-transform: uppercase;
    @media (max-width: 1024px) {
      @include font(18px, 21px, 900);
      margin-bottom: 22px;
    }
    @media (max-width: 767px) {
      @include font(18px, 21px, 900);
      margin-bottom: 7px;
    }
  }
  &__text {
    @include font(18px, 21px, 400);
    color: #fff;
    @media (max-width: 1024px) {
      @include font(14px, 16px, 400);
    }
    @media (max-width: 767px) {
      @include font(14px, 16px, 400);
    }
  }
}

.work__content:hover {
  opacity: 1;
}
.work__content:active {
  opacity: 1;
  background: rgba(185, 12, 12, 0.8);
}

.team {
  padding: 114px 0;

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
    @media (max-width: 1024px) {
      column-gap: 25px;
    }
    @media (max-width: 767px) {
      grid-template-columns: 1fr;
      row-gap: 56px;
    }
  }
  &__container {
    @media (max-width: 1024px) {
      padding: 0 20px;
    }
    @media (max-width: 767px) {
      padding: 0 20px;
    }
  }
}

@media (max-width: 1024px) {
  .team {
    padding: 78px 0;
  }
}
@media (max-width: 767px) {
  .team {
    padding: 35px 0;
  }
}

.card__team {
  @media (max-width: 1024px) {
    .card__team {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .card__image {
    aspect-ratio: 1/1;
    object-fit: cover;
    margin-bottom: 30px;
    width: 100%;
    @media (max-width: 1024px) {
      margin-bottom: 25px;
    }
    @media (max-width: 767px) {
      margin-bottom: 25px;
      aspect-ratio: 280/227px;
    }
  }
  .card__name {
    @include font(24px, 28px, 700);
    color: $colorTitle;
    margin-bottom: 5px;
    @media (max-width: 1024px) {
      @include font(18px, 21px, 700);
    }
    @media (max-width: 767px) {
      @include font(18px, 21px, 700);
    }
  }
  .card__job {
    @include font(18px, 21px, 400);
    color: $colorbg;
    text-transform: uppercase;
    margin-bottom: 17px;
    @media (max-width: 1024px) {
      @include font(14px, 16px, 400);
      margin-bottom: 22px;
    }
    @media (max-width: 767px) {
      @include font(14px, 16px, 400);
      margin-bottom: 38px;
    }
  }
  .card__text {
    @include font(18px, 21px, 400);
    color: $colorText;
    margin-bottom: 37px;
    @media (max-width: 1024px) {
      @include font(14px, 16px, 400);
      margin-bottom: 39px;
    }
    @media (max-width: 767px) {
      @include font(14px, 16px, 400);
      margin-bottom: 55px;
    }
  }
  .card__icons {
    display: flex;
    column-gap: 6px;
    @media (max-width: 1024px) {
      column-gap: 5px;
    }
  }
}
svg:hover {
  color: $colorbg;
  transition: all 0.3s 0s;
}
svg:active {
  background-color: #e71414;
}

.testimonials {
  background-color: #5c3249;
  &__container {
    display: flex;
    align-items: center;
    column-gap: 31px;
    @media (max-width: 1024px) {
      column-gap: 19px;
    }
    @media (max-width: 767px) {
      flex-direction: column;
      row-gap: 25px;
    }
  }
  &__img {
    max-width: 50%;
    aspect-ratio: 1/1;
    object-fit: cover;
    @media (max-width: 1024px) {
      max-width: 49%;
      aspect-ratio: 482/322;
    }
    @media (max-width: 767px) {
      max-width: 100%;
      width: 100%;
      aspect-ratio: 208/218;
    }
  }
  &__content {
    @media (max-width: 767px) {
      text-align: center;
    }
  }
  &__text {
    font-family: $fontCardo;
    @include font(36px, 39px, 400);
    color: #fff;
    font-style: italic;
    margin-bottom: 20px;
    @media (max-width: 1024px) {
      @include font(24px, 32px, 400);
      margin-bottom: 9px;
    }
    @media (max-width: 767px) {
      @include font(24px, 32px, 400);
      margin-bottom: 15px;
    }
  }
  &__subtext {
    @include font(13px, 15px, 700);
    color: #fff;
    @media (max-width: 1024px) {
      @include font(12px, 14px, 700);
    }
    @media (max-width: 767px) {
      @include font(12px, 14px, 700);
      text-align: left;
    }
  }
}
@media (max-width: 1024px) {
  .testimonials {
    padding: 0 20px;
  }
}
@media (max-width: 767px) {
  .testimonials {
    padding: 0 0 95px;
  }
}

.download {
  padding: 132px 0 114px;
  text-align: center;

  &__title {
    @include font(30px, 35px, 500);
    color: #000;
    margin-bottom: 22px;
    @media (max-width: 1024px) {
      @include font(24px, 28px, 500);
      margin-bottom: 20px;
    }
    @media (max-width: 767px) {
      @include font(18px, 21px, 500);
      margin-bottom: 11px;
    }
  }
  &__text {
    @include font(18px, 21px, 700);
    color: #000;
    text-transform: uppercase;
    margin-bottom: 50px;
    @media (max-width: 1024px) {
      @include font(14px, 14px, 900);
      margin-bottom: 45px;
    }
    @media (max-width: 767px) {
      @include font(13px, 15px, 900);
      margin-bottom: 13px;
    }
  }
  &__btn {
    @include font(24px, 28px, 900);
    color: #fff;
    padding: 26px;
    width: 100%;
    max-width: 370px;
    background-color: $colorbg;
    border: none;
    text-transform: uppercase;
    @media (max-width: 1024px) {
      @include font(18px, 21px, 900);
      padding: 27px;
      width: 100%;
      max-width: 313px;
    }
    @media (max-width: 767px) {
      padding: 29px;
      width: 100%;
      max-width: 280px;
    }
  }
}
.download__btn:hover {
  background-color: #e71414;
  transition: all 0.3s 0s;
}
.download__btn:active {
  box-shadow: 4px 4px 30px #ff4343;
}

@media (max-width: 1024px) {
  .download {
    padding: 93px 0 79px;
  }
}
@media (max-width: 767px) {
  .download {
    padding: 64px 0 45px;
  }
}
.download__container {
  max-width: 1200px;
  @media (max-width: 1024px) {
    max-width: 575px;
  }
  @media (max-width: 767px) {
    padding: 0 20px;
  }
}

.footer {
  background-color: #353c65;
  padding-top: 71px;
  font-family: "Raleway", sans-serif;
  text-align: center;

  @media (max-width: 1024px) {
    .footer {
      padding-top: 46px;
    }
  }
  @media (max-width: 767px) {
    .footer {
      padding-top: 34px;
    }
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    margin-bottom: 71px;

    @media (max-width: 1024px) {
      column-gap: 20px;
      margin-bottom: 41px;
    }
    @media (max-width: 767px) {
      row-gap: 64px;
      grid-template-columns: 1fr;
      margin-bottom: 38px;
      padding: 0 20px;
    }
  }
  &__title {
    @include font(18px, 21px, 700);
    margin-bottom: 29px;
    color: #fff;
    text-transform: uppercase;
    @media (max-width: 1024px) {
      @include font(14px, 16px 700);
      margin-bottom: 17px;
    }
  }

  &__text {
    @include font(18px, 21px 400);
    color: #fff;
    @media (max-width: 1024px) {
      @include font(14px, 16px 400);
    }
  }
  &__svgs {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 37px;
    margin-top: 48px;
    @media (max-width: 1024px) {
      column-gap: 23px;
      margin-top: 32px;
    }
    @media (max-width: 767px) {
      column-gap: 16px;
      margin-top: 36px;
    }
  }
  &__copyright {
    background-color: #2c3154;
    padding: 24px 0;
    @media (max-width: 1024px) {
      padding: 29px 0;
    }
    @media (max-width: 1024px) {
      padding: 29px 0;
    }
  }
  &__block {
    max-width: 370px;
    margin: 0 auto;
  }
  &__subtext {
    @include font(18px, 21px 400);
    color: #808080;
    @media (max-width: 1024px) {
      @include font(14px, 16px 400);
    }
  }
  &__span {
    color: #fff;
    @media (max-width: 1024px) {
      @include font(14px, 16px 400);
    }
  }
}
