* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$colorbg: #ff4343;
$colorTitle: #2d3033;
$colorText: #6c7279;
$fontCardo: "Cardo", serif;

@mixin font($fontSize, $lineHeight, $fontWeight: 400) {
  font-size: $fontSize;
  line-height: $lineHeight;
  font-weight: $fontWeight;
}
body {
  font-family: "Raleway", sans-serif;
  //   font-family: "Cardo", serif;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  padding: 38px 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  border-bottom: 1px solid #babbc5;
  @media (max-width: 1024px) {
    padding: 38px 20px;
  }
  @media (max-width: 320px) {
    padding: 19px 0;
    border: none;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 43px 170px;
  }

  &__toggle-menu {
    display: none;
    @media (max-width: 320px) {
      display: flex;
      background: transparent;
      border: none;
    }
  }

  &__wrapper-logo {
    display: flex;
    max-width: 183px;
    @media (max-width: 1024px) {
      max-width: 180px;
    }
    @media (max-width: 320px) {
      max-width: 103px;
    }
  }
  &__logo {
    width: 100%;
  }
}
.nav {
  @media (max-width: 767px) {
    display: none;
  }
  &__list {
    display: flex;
    list-style: none;
    column-gap: 40px;
    @media (max-width: 1024px) {
      column-gap: 25px;
    }
  }
  &__link {
    @include font(12px, 14px, 700);
    color: #fff;
    text-transform: uppercase;
  }
}

.banner {
  padding: 257px 0 126px;
  text-align: center;
  background-image: url(../src/bg-img.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  @media (max-width: 320px) {
    padding: 106px 0 52px;
  }
  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #252b49;
    opacity: 0.8;
  }

  &__container {
    position: relative;
    z-index: 1;
  }

  &__title {
    @include font(64px, 75px, 900);
    margin-bottom: 31px;
    color: #fff;
    text-transform: uppercase;
    @media (max-width: 1024px) {
      @include font(48px, 56px, 900);
      margin-bottom: 61px;
    }
    @media (max-width: 320px) {
      @include font(36px, 42px, 900);
      margin-bottom: 40px;
    }
  }

  &__text {
    @include font(24px, 28px);
    margin-bottom: 79px;
    color: #fff;
    @media (max-width: 1024px) {
      @include font(18px, 21px);
      margin-bottom: 89px;
    }
    @media (max-width: 320px) {
      @include font(14px, 16px);
      margin-bottom: 59px;
    }
  }

  &__btn {
    padding: 25px 28px;
    max-width: 370px;
    width: 100%;
    background-color: $colorbg;
    color: #fff;
    text-transform: uppercase;
    border: none;
    @include font(24px, 28px, 900);
    @media (max-width: 1024px) {
      max-width: 314px;
    }
    @media (max-width: 320px) {
      padding: 14px;
      max-width: 279px;
    }
  }

  &__btn:hover {
    background-color: #e71414;
  }
  &__btn:active {
    box-shadow: 4px 4px 30px #ff4343;
  }
}

.featires {
  padding: 109px 170px 116px;
  @media (max-width: 1024px) {
    .featires {
      padding: 80px 20px;
    }
  }
  @media (max-width: 320px) {
    .featires {
      padding: 40px 21px;
    }
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 31px;
    row-gap: 87px;
    text-align: center;
    @media (max-width: 1024px) {
      column-gap: 20px;
      row-gap: 53px;
    }
    @media (max-width: 767px) {
      grid-template-columns: 1fr;
      row-gap: 41px;
    }
  }
}
.featire__info {
  text-align: center;
  max-width: 370px;
  width: 100%;
  @media (max-width: 1024px) {
    .featire__info {
      max-width: 315px;
      width: 100%;
    }
  }
  @media (max-width: 320px) {
    max-width: 279px;
    width: 100%;
  }

  .featire__icon {
    width: 100px;
    height: 100px;
    margin-bottom: 52px;
    @media (max-width: 1024px) {
      width: 85px;
      height: 83px;
      margin-bottom: 44px;
    }
    @media (max-width: 320px) {
      width: 75px;
      height: 75px;
      margin-bottom: 37px;
    }
  }
  .featire__title {
    @include font(24px, 28px, 900);
    color: $colorTitle;
    margin-bottom: 42px;
    text-transform: uppercase;
    @media (max-width: 1024px) {
      @include font(18px, 21px, 900);
      margin-bottom: 27px;
    }
    @media (max-width: 320px) {
      @include font(18px, 21px, 900);
      margin-bottom: 8px;
    }
  }
  .featire__text {
    @include font(18px, 21px, 400);
    color: $colorText;
    @media (max-width: 1024px) {
      @include font(14px, 14px, 400);
    }
    @media (max-width: 320px) {
      @include font(14px, 16px, 400);
    }
  }
}

.works {
  &__container {
    max-width: 1510px;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2px;
    @media (max-width: 1024px) {
      max-width: 1024px;
    }
    @media (max-width: 320px) {
      max-width: 320px;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
.work {
  aspect-ratio: 1/1;
  overflow: hidden;
  position: relative;

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    @media (max-width: 1024px) { 
      width: 257px;
      height: 230px;
      width: 100%;
      height: 100%;
    }
    @media (max-width: 320px) {
      width: 160px;
      height: 144px;
      width: 100%;
      height: 100%;
    }
  }
  &__content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 67, 67, 0.8);
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    // &:hover {
    //   opacity: 1;
    // }
    // &:active {
    //   opacity: 1;
    //   background: rgba(185, 12, 12, 0.8);
    // }  не работает тут и в таком виде
  }
  &__title {
    @include font(24px, 28px, 900);
    color: #fff;
    margin-bottom: 36px;
    @media (max-width: 1024px) {
      @include font(18px, 21px, 900);
      margin-bottom: 22px;
    }
    @media (max-width: 320px) {
      @include font(18px, 21px, 900);
      margin-bottom: 7px;
    }
  }
  &__text {
    @include font(18px, 21px, 400);
    color: #fff;
    @media (max-width: 1024px) {
      @include font(14px, 16px, 400);
    }
    @media (max-width: 320px) {
      @include font(14px, 16px, 400);
    }
  }
}

.work__content:hover {
  opacity: 1;
}
.work__content:active {
  opacity: 1;
  background: rgba(185, 12, 12, 0.8);
}

.team {
  padding: 114px 170px;

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
    @media (max-width: 1024px) {
      column-gap: 25px;
    }
    @media (max-width: 320px) {
      grid-template-columns: 1fr;
      row-gap: 56px;
    }
  }
  &__container {
    @media (max-width: 1024px) {
      max-width: 984px;
    }
    @media (max-width: 320px) {
      max-width: 280px;
    }
  }
}
@media (max-width: 1024px) {
  .team {
    padding: 78px 20px;
  }
}
@media (max-width: 320px) {
  .team {
    padding: 35px 20px;
  }
}

.card__team {
  max-width: 270px;
  width: 100%;
  @media (max-width: 1024px) {
    .card__team {
      max-width: 227px;
      display: flex;
      flex-wrap: wrap;
    }
    @media (max-width: 320px) {
      max-width: 280px;
    }
  }

  .card__image {
    aspect-ratio: 1/1;
    object-fit: cover;
    margin-bottom: 30px;
    @media (max-width: 1024px) {
      margin-bottom: 25px;
    }
    @media (max-width: 320px) {
      margin-bottom: 25px;
    }
  }
  .card__name {
    @include font(24px, 28px, 700);
    color: $colorTitle;
    margin-bottom: 5px;
    @media (max-width: 1024px) {
      @include font(18px, 21px, 700);
    }
    @media (max-width: 320px) {
      @include font(18px, 21px, 700);
    }
  }
  .card__job {
    @include font(18px, 21px, 400);
    color: $colorbg;
    text-transform: uppercase;
    margin-bottom: 17px;
    @media (max-width: 1024px) {
      @include font(14px, 16px, 400);
      margin-bottom: 22px;
    }
    @media (max-width: 320px) {
      @include font(14px, 16px, 400);
      margin-bottom: 38px;
    }
  }
  .card__text {
    @include font(18px, 21px, 400);
    color: $colorText;
    margin-bottom: 37px;
    @media (max-width: 1024px) {
      @include font(14px, 16px, 400);
      margin-bottom: 39px;
    }
    @media (max-width: 320px) {
      @include font(14px, 16px, 400);
      margin-bottom: 55px;
    }
  }
  .card__icons {
    display: flex;
    column-gap: 6px;
  }

  .card__icon {
    width: 39px;
    height: 39px;
    @media (max-width: 1024px) {
      width: 35px;
      height: 35px;
    }
    @media (max-width: 320px) {
      width: 39px;
      height: 39px;
    }
  }
}
.card__icons:hover {
  color: $colorbg;
}

.testimonials {
  padding: 0 170px;
  background-color: #5c3249;
  &__container {
    display: flex;
    align-items: center;
    column-gap: 31px;
    @media (max-width: 1024px) {
      column-gap: 19px;
    }
    @media (max-width: 320px) {
      display: none;
    }
  }
  &__img {
    width: 570px;
    height: 490px;
    aspect-ratio: 1/1;
    object-fit: cover;
    @media (max-width: 1024px) {
      width: 482px;
      height: 332px;
    }
    @media (max-width: 320px) {
      width: 280px;
      height: 218px;
    }
  }
  &__content {
    flex-direction: column;
    @media (max-width: 320px) {
      text-align: center;
    }
  }
  &__text {
    font-family: $fontCardo;
    @include font(36px, 39px, 400);
    color: #fff;
    max-height: 230px;
    font-style: italic;
    margin-bottom: 20px;
    @media (max-width: 1024px) {
      @include font(24px, 32px, 400);
      max-height: 96px;
    }
    @media (max-width: 320px) {
      @include font(24px, 32px, 400);
      margin-bottom: 15px;
    }
  }
  &__subtext {
    @include font(13px, 15px, 700);
    color: #fff;
    @media (max-width: 1024px) {
      @include font(12px, 14px, 700);
    }
    @media (max-width: 320px) {
      @include font(12px, 14px, 700);
    }
  }
}
@media (max-width: 1024px) {
  .testimonials {
    padding: 0 20px;
  }
}
@media (max-width: 320px) {
  .testimonials {
    padding: 0 19px 95px;
  }
}

.download {
  padding: 132px 170px 114px;

  &__title {
    @include font(30px, 35px, 500);
    color: #000;
    margin-bottom: 22px;
    @media (max-width: 1024px) {
      @include font(24px, 28px, 500);
      margin-bottom: 20px;
    }
    @media (max-width: 320px) {
      @include font(18px, 21px, 500);
      margin-bottom: 11px;
    }
  }
  &__text {
    @include font(18px, 21px, 700);
    color: #000;
    text-transform: uppercase;
    margin-bottom: 50px;
    @media (max-width: 1024px) {
      @include font(14px, 14px, 900);
      margin-bottom: 45px;
    }
    @media (max-width: 320px) {
      @include font(13px, 15px, 900);
      margin-bottom: 13px;
    }
  }
  &__btn {
    @include font(24px, 28px, 900);
    color: #fff;
    padding: 26px 79px;
    background-color: $colorbg;
    border: none;
    text-transform: uppercase;
    @media (max-width: 1024px) {
      @include font(18px, 21px, 900);
      padding: 27px 77px;
    }
    @media (max-width: 320px) {
      padding: 29px 61px;
    }
  }
}
@media (max-width: 1024px) {
  .download {
    padding: 93px 240px 79px;
  }
}
@media (max-width: 320px) {
  .download {
    padding: 64px 19px 45px;
  }
}
.download__container {
  text-align: center;
  max-width: 1200px;
  @media (max-width: 1024px) {
    max-width: 545px;
  }
  @media (max-width: 320px) {
    max-width: 284px;
  }
}

.footer {
  background-color: #353c65;
  padding-top: 71px;
  font-family: "Raleway", sans-serif;
}
@media (max-width: 1024px) {
  .footer {
    padding-top: 46px;
  }
}
@media (max-width: 320px) {
  .footer {
    padding-top: 34px;
  }
}
.footer__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
  margin: 71px 170px;
  text-align: center;
  // max-width: 1200px;
  @media (max-width: 1024px) {
    column-gap: 20px;
    margin: 20px 46px;
  }
  @media (max-width: 320px) {
    row-gap: 64px;
    margin: 35px 20px;
    grid-template-columns: 1fr;
  }
}
.footer__title {
  font-size: 18px;
  line-height: 21px;
  font-weight: 700;
  margin-bottom: 29px;
  color: #fff;
  text-transform: uppercase;
  @media (max-width: 1024px) {
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    margin-bottom: 17px;
  }
}
.title-2 {
  margin-bottom: 48px;
  @media (max-width: 1024px) {
    margin-bottom: 32px;
  }
}
.footer__text {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #fff;
  @media (max-width: 1024px) {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
  }
}
.footer__svg {
  margin-right: 26px;
  @media (max-width: 1024px) {
    margin-right: 23px;
  }
  @media (max-width: 1024px) {
    margin-right: 32px;
  }
}
.footer__svg:last-child {
  margin-right: 0px;
}
.footer__Copyright {
  background-color: #2c3154;
  padding: 24px 571px;
  margin: 0;
  text-align: center;
  @media (max-width: 1024px) {
    padding: 14px 355px;
  }
  @media (max-width: 1024px) {
    padding: 29px 20px;
  }
}
.footer__subtext {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #808080;
  @media (max-width: 1024px) {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
  }
}
.footer__span {
  color: #fff;
  @media (max-width: 1024px) {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
  }
}
