* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer {
  background-color: #353c65;
  padding-top: 71px;
  font-family: "Raleway", sans-serif;
}
@media (max-width: 1024px) {
  .footer {
    padding-top: 46px;
  }
}
@media (max-width: 320px) {
  .footer {
    padding-top: 34px;
  }
}
.footer__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
  margin: 71px 170px;
  text-align: center;
  // max-width: 1200px;
  @media (max-width: 1024px) {
    column-gap: 20px;
    margin: 20px 46px;
  }
  @media (max-width: 320px) {
    row-gap: 64px;
    margin: 35px 20px;
    grid-template-columns: 1fr;
  }
}
.footer__title {
  font-size: 18px;
  line-height: 21px;
  font-weight: 700;
  margin-bottom: 29px;
  color: #fff;
  text-transform: uppercase;
  @media (max-width: 1024px) {
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    margin-bottom: 17px;
  }
}
.title-2 {
  margin-bottom: 48px;
  @media (max-width: 1024px) {
    margin-bottom: 32px;
  }
}
.footer__text {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #fff;
  @media (max-width: 1024px) {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
  }
}
.footer__svg {
  margin-right: 26px;
  @media (max-width: 1024px) {
    margin-right: 23px;
  }
  @media (max-width: 1024px) {
    margin-right: 32px;
  }
}
.footer__svg:last-child {
  margin-right: 0px;
}
.footer__Copyright {
  background-color: #2c3154;
  padding: 24px 571px;
  margin: 0;
  text-align: center;
  @media (max-width: 1024px) {
    padding: 14px 355px;
  }
  @media (max-width: 1024px) {
    padding: 29px 20px;
  }
}
.footer__subtext {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #808080;
  @media (max-width: 1024px) {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
  }
}
.footer__span {
  color: #fff;
  @media (max-width: 1024px) {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
  }
}
